.titulo{
    position: absolute;
    width: 247px;
    height: 47px;
    left: 72px;
    top: 90px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px; 
}
.caja{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 300px;
    left: calc(47% - 285px/2 - 0.5px);
    top: calc(50% - 400px/2 + 0.5px);

    background: #FFFFFF;
    border: 1px solid #302f2f;
    border-radius: 20px;
}
.nombre{
    position: absolute;
    left: 10%;
    right: 28.9%;
    top: 20%;
    bottom: 69.7%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;

    color: #3D6697;
}
.text{
    position: absolute;
    left: 10%;
    right: 28.9%;
    top: 25%;

    height: 3rem;

    border: 1px solid #3D6697;
    border-radius: 6%;

    color: #3D6697;
}
.contrasena{
    position: absolute;
    left: 10%;
    right: 28.9%;
    top: 40%;
    bottom: 69.7%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;

    color: #3D6697;
}
.password{
    position: absolute;
    left: 10%;
    right: 28.9%;
    top: 45%;

    height: 3rem;

    border: 1px solid #3D6697;
    border-radius: 3%;

    color: #3D6697;
}
.btn{
    position: absolute;
    width: 163px;
    height: 45px;
    left: 50px;
    top: 200px;

/* principal */

   border: #85D062;
   background: #85D062;
   border-radius: 20px;
   cursor: pointer;
}
.iniciar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;

    color: #FFFFFF;
}
