.encabezado {
    background-color: var(---color21);
    display: block;
    position: relative;
    height: 29rem;
}

header {
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.flecha > img {
    height: 2.3rem;
}

.flechas2 > img {
    height: 2.3rem;
    margin-left: 15rem;
}

.flechas3 > img {
    height: 2.3rem;
}

.perfil {
    padding: 2rem 2rem;
    flex-wrap: wrap;
    display: flex;
    height: 11rem;
}

.perfil > .img1 {
    display: block;
    border: 2px;
    border-radius: 70px;
    height: 8rem;
}

.perfil > .textos {
    margin: 0rem 2rem;
    margin-top: 2rem;
}

.perfil > .img2 {
    margin-top: 2.5rem;
    display: block;
    border: 2px;
    height: 2.3rem;
    margin-left: auto;
}

.textos > h2 {
    font-size: 1.5rem;
}

.textos > p {
    font-size: 1.2rem;
    color:var(---color3);
}

.nums {
    margin-top: 0.5rem;
    display: block;
}
.nums_txt {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nums_txt > li {
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.nums_nums {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nums_nums > li {
    padding: 0.5rem 2.6rem;
    font-size: 1rem;
    
}

.medio {
    border: 2px solid black;
    display: block;
    width: 90%;
    border-radius: 2rem;
    height: 10rem;
    background-color: var(---color23);

    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: auto;
}

.medio > h1 {
    display: block;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.letras {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}




.indice {
    display: block;
    margin-top: 6.5rem;
}

.viñeta1 {
    display: flex;
    flex-wrap: wrap;
}

.viñeta1 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro1 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro1 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.viñeta2 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro2 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro2 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.viñeta3 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro3 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro3 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta4 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.viñeta4 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro4 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro4 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro4 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta5 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.viñeta5 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro5 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro5 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro5 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta6 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.viñeta6 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro6 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro6 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro6 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta7 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.viñeta7 > h1 {
    display: block;
    color: var(---color21);
    font-size: 2rem;
    margin: 0rem 0rem;
}

.Cuadro7 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

.Cuadro7 > h3 {
    margin: 0rem 2rem;
    display: block;
}

.Cuadro7 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}