.encabezado {
    background-color: var(---color21);
    display: block;
    position: relative;
    height: 29rem;
}

header {
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.flecha > img {
    height: 2.3rem;
}

.flechas2 > img {
    height: 2.3rem;
    margin-left: 15rem;
}

.flechas3 > img {
    height: 2.3rem;
}

.perfil {
    padding: 2rem 2rem;
    flex-wrap: wrap;
    display: flex;
    height: 11rem;
}

.perfil > .img1 {
    display: block;
    border: 2px;
    border-radius: 70px;
    height: 8rem;
}

.perfil > .textos {
    margin: 0rem 2rem;
    margin-top: 2rem;
}

.perfil > .img2 {
    margin-top: 2.5rem;
    display: block;
    border: 2px;
    height: 2.3rem;
    margin-left: auto;
}

.textos > h2 {
    font-size: 1.5rem;
}

.textos > p {
    font-size: 1.2rem;
    color:var(---color3);
}

.nums {
    margin-top: 0.5rem;
    display: block;
}
.nums_txt {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nums_txt > li {
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.nums_nums {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nums_nums > li {
    padding: 0.5rem 2.6rem;
    font-size: 1rem;
    
}

.medio {
    border: 2px solid black;
    display: block;
    width: 90%;
    border-radius: 2rem;
    height: 10rem;
    background-color: var(---color23);

    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: auto;
}

.medio > h1 {
    display: block;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.letras {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.indice {
    display: block;
    margin-top: 6.5rem;
    background-color: aqua;
}

.viñeta1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5rem;
}

.viñeta1 > h1 {
    display: flex;
    color: var(---color21);
    font-size: 2rem;
}
.viñeta1 > h3 {
    margin: 0rem 2rem
}

.viñeta1 > p {
    margin: 0rem 2rem;
    color: var(---color3);
    font-weight: 600;
}

.viñeta2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.viñeta2 > h3 {
    margin: 0rem 2rem
}

.viñeta2 > p {
     margin: 0rem 2rem;
}